div{
font-family:Arial, sans-serif;
font-size:2em;
margin-top:1em;

}


ul{
list-style-type:none;
margin-left:10em;
}

li{
margin-top:0.5em;
display:inline;
font-size:1em;


}

a{
text-decoration:none;
color:white;
padding:.5em 2em .5em 2em;

}

a.change{
background-color:crimson;
}

a.change:hover{

background-color:orange;
}

a.change:active{
background-color:grey;
}